<div class="product-card" data-product-id="123">
    
    <div class="product-badge hit">ХИТ</div>
    
    <div class="product-img-box">
        <img src="/static/images/about-placeholder.png" alt="Название товара">
    </div>
    
    <div class="product-info">
        <span class="product-category-tag">Вакуумные стимуляторы</span>
        
        <h3 class="product-title">Satisfyer Pro 2 Next Generation</h3>
        
        <div class="product-footer">
            <div class="price-block">
                <span class="product-price">29 900 KZT</span>
                </div>
            
            <button class="buy-btn" title="Добавить в корзину">
                <span class="buy-btn-text">В корзину</span>
                <span class="buy-btn-icon">🛒</span>
            </button>
        </div>
    </div>
    
</div>